<% layout("/layouts/boilerplate.ejs") %>
    <style>
        .heading {
            font-size: 2.5rem;
            /* default for large screens */
        }

        @media (max-width: 576px) {
            .heading {
                font-size: 1.5rem !important;
                /* smaller size for small screens */
            }
        }
    </style>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1 class="heading "><b>Welcome to Tripbnb</b></h1>
        </div>
        <div class="col-8 offset-2">
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" id="username" type="text" class="form-control" placeholder="Enter username"
                        required />
                    <div class="invalid-feedback">Please Enter a Username</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" type="password" class="form-control"
                        placeholder="Enter password" required />
                    <div class="invalid-feedback">Please Enter a Password</div>
                </div>

                <button class="btn btn-danger">Login</button>
            </form>
            <p class="mt-2 backto">Creat new account? <a href="/signup"><b>Signup</b></a></p>
        </div>
    </div>